

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.text-primary{
    color: #FD6E0A;
}

nav ul li {
      list-style: none;
      margin-right: 51px;
}

ul a {
    text-decoration: none;
}

.dark-2{
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* banner styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
}

.banner-profile-pic{
    width: 584px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.bannet-content{
    width: 584px;
}



/* header  */
.header{
    background-image: url("../images/developer.png"),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}